---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Login">
	<main>
		<h1>Login <!-- <span class="text-gradient">  </span>   --> </h1>
		<form class="form1">
		<p class="Texto1">	Ingresa el usuario:	<br/></p>
			
			<div class = "input-user">
		
				<input type="text" id="usuario">
						
				<input type="submit" value="Enviar">
			
			</div>
		
			<p class = "Texto2"> Ingresa la contrasena:<br/></p>

			<div class="input-password">

				<input type="password" id="passwor">

				<input type="submit" value="Enviar">

			</div>

		</form>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.form1 {
		margin: auto;
	    font-size: 1.1em;
		color: rgb(var(--negro));
		border: 5px solid rgba(var(--blanco-low));
		background: rgb(var(--blanco-uno));
		width: 500px;
		border-radius: 10px;
	}
	.Texto1 {
		margin-right: 308px;
		margin-bottom: 10px;
	}
	.Texto2 {

		margin-right: 270px;
		padding-top: 1em;
		margin-bottom: 10px;

	}
	
	.input-user {

		text-align: left;
		margin-left: 15px;
		height: 20px;

	}

	.input-user input[type = "text"]{

		margin: auto;
		width: 300px;
		height: 20px;

	}

	.input-user input[type = "submit"]{

		margin: 1em;

	}

	.input-password input[type = "password"]{

		margin-left: 15px;
		text-align: left;
		width: 300px;

	}

	.input-password input[type = "submit"]{

	margin: 1em;

	}

	.boton-enviar{


	}


</style>
